<div class="registration-form">
  <div class="container">
    <h2>Para registrarte, completa los siguientes campos:</h2>
    <div class="separator"></div>
    <div>
      <div>
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" [(ngModel)]="usuario">
      </div>
      <div>
        <label for="password">Contraseña</label>
        <input type="password" id="password" [(ngModel)]="password">
      </div>
      <div>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" [(ngModel)]="nombre">
      </div>
      <div>
        <label for="correo">Correo electrónico</label>
        <input type="email" id="correo" [(ngModel)]="correo">
      </div>
      <div>
        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono" [(ngModel)]="telefono">
      </div>
      
      <div>
        <button (click)="registro()">Registrarse</button>
      </div>
    </div>
  </div>
</div>
