<!-- Toolbar -->
<div class="toolbar" role="banner" style="font-size: 20px;">
  <img
    width="100"
    src="https://www.freepnglogos.com/uploads/mcdonalds-png-logo/mcdonalds-png-logo-simple-m-1.png"
    style="margin-left: 12%; margin-right: -1%;"
    href="#" (click)="reloadPage()"
  />
  <span href="#" (click)="reloadPage()" >McAllister's</span>
  <div style="width: 50%;"></div>
    <a class="button" target="_blank" (click)="openPopup()" rel="noopener" title="Iniciar Sesión">
      <div class="button-content">
        Iniciar Sesión
      </div>
    </a>
  </div>
<div class="content" role="main">
  <div>
    <div class="container">
      <app-place-selector></app-place-selector>
    </div>     <!-- Pasando una propiedad de entrada al componente -->
  </div>
  <!-- Footer -->
  <footer></footer>
</div>
