<div class="popu">
  <div class="container">
    <h2>Para continuar, Inicia Sesion.</h2>
    <div class="login-social-zone">
    </div>
    <div class="separator"></div>
    <div>
      <div>
        <br>

        <label for="username">Nombre de usuario</label>
        <input type="text" id="username" [(ngModel)]="username">
      </div>
      <br>
      <div>
        <label for="password">Contraseña</label>
        <input type="password" id="password" [(ngModel)]="password">
      </div>
      <br>

      <div>
        <button (click)="login()">Iniciar sesión</button>
      </div>
    </div>

  </div>
</div>
