<div class="pago-container">
  <h2>Pago</h2>

  <div class="mesa">
    <label for="mesaDestino">Mesa de Destino:</label>
    <select id="mesaDestino" [(ngModel)]="mesaDestino">
      <option *ngFor="let mesa of mesas" [value]="mesa">{{ mesa }}</option>
    </select>
  </div>

  <div class="usuario">
    <h3>Registro o Inicio de Sesión</h3>
    <p>Regístrese o inicie sesión para continuar:</p>
    <button (click)="register()" class="registro-btn">Registro</button>
    <span>o</span>
    <p>Inicie sesión</p>
  </div>

  <div class="metodo-pago">
    <label for="metodoPago">Método de Pago:</label>
    <select id="metodoPago" [(ngModel)]="tipoPago">
      <option value="tarjeta">Tarjeta de Crédito</option>
      <option value="efectivo">Efectivo</option>
      <option value="paypal">PayPal</option>
    </select>
  </div>

  <div class="propina">
    <label for="propinaCheckbox">Seleccionar Propina:</label>
    <input type="checkbox" id="propinaCheckbox" [(ngModel)]="seleccionarPropina" />
  </div>

  <div class="total-pagar">
    <h3>Total a Pagar</h3>
    <p>{{ totalAPagar }}</p>
  </div>

  <button (click)="pedir()" class="pago-btn">Realizar Pedido</button>
</div>
