<div class="pago-container">
  <h2>Pago</h2>

  <div class="mesa">
    <label for="mesaDestino">Mesa de Destino:</label>
    <select id="mesaDestino" [(ngModel)]="mesaDestino">
      <option *ngFor="let mesa of mesas" [value]="mesa">{{ mesa }}</option>
    </select>
  </div>

  <div class="usuario">
    <h3>Registro o Inicio de Sesión</h3>
    <p>Regístrese o inicie sesión para continuar:</p>
    <button (click)="register()">Registro</button>
    <span>o</span>
    <p>Inicie sesión</p>
  </div>

  <div class="metodo-pago">
    <label for="metodoPago">Método de Pago:</label>
    <select id="metodoPago" [(ngModel)]="metodoPago">
      <option value="tarjeta">Tarjeta de Crédito</option>
      <option value="efectivo">Efectivo</option>
      <option value="paypal">PayPal</option>
    </select>
  </div>

  <button (click)="goToPayment()">Realizar Pago</button>
</div>
