.pago-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinear a la izquierda */
  width: 100%; /* Ocupar el 100% del ancho horizontal */
  margin: 0 auto;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
}

.mesa,
.usuario,
.metodo-pago {
  margin-bottom: 16px;
}

.usuario {
  text-align: center;
}

.registro-btn {
  background-color: #fdd10a;
  color: #000000;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.registro-btn:hover {
  background-color: #f9c200;
}

.pago-btn {
  background-color: #fdd10a;
  color: #000000;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.pago-btn:hover {
  background-color: #f9c200;
}
