<!-- Toolbar -->
<div class="toolbar" role="banner" style="font-size: 20px;">
  <img
    width="100"
    src="https://www.freepnglogos.com/uploads/mcdonalds-png-logo/mcdonalds-png-logo-simple-m-1.png"
    style="margin-left: 12%; margin-right: -1%;"
    href="#" (click)="reloadPage()"
  />
  <span href="#" (click)="reloadPage()" >McAllister's</span>
  <div style="width: 50%;"></div>
  <div class="cantidad">{{ cantidadProductos }}</div>

    <!-- Enlace del carrito de compras -->
  <a class="buttonCart" style="display: flex; justify-content: center; align-items: center; border-radius: 50%; padding: 5px; margin-right: 10px;" (click)="abrirCarrito()">
    <img src="https://cdn-icons-png.flaticon.com/256/4/4295.png" alt="Carrito de Compras" style="vertical-align: middle; height: 25px; width: 25px;">
  </a>


  <!-- Botón de Iniciar Sesión -->
  <a class="button" target="_blank" (click)="openPopup()" rel="noopener" title="Iniciar Sesión" style="margin-left: 10px;">
    <div class="button-content">
      Iniciar Sesión
    </div>
  </a>
</div>

<div>
  <div class="content" role="main">
    <app-menu></app-menu>
    <!-- Footer -->
    <footer></footer>
  </div>
</div>
